body {
  padding-top: 20px;
}

.control-label {
	margin-top: 15px;
}

#tableOutput > table {
	width: 100%;
}

.legend {
    line-height: 18px;
    color: #555;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.legend .legend-title {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.4;
}

.tooltip-inner {
    max-width: 500px !important;
}

#tableOutput td {
	text-align: right;
}

#tableOutput th {
	text-align: center;
}

#tableOutput tr:last-child td {
	font-weight: bold;
}

.popup-table {
	font-size: 12px;
}

.popup-table td {
	text-align: right;
	border-bottom: solid 1px #CCC;
	padding-top 4px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.popup-table td:first-child {
	padding-right: 10px;
	border-right: solid 1px #CCC;
	white-space: nowrap;
}

.popup-table td:last-child {
	padding-left: 10px;
}

.popup-table tr:first-child td {
	text-align: center;
	font-weight: bold;
	border-right: none;
}